body {
	background-color:lightskyblue;
	font-family:Monospace;
	touch-action:manipulation;
}
button {
	color:white;
	background-color:black;
	width:200px;
	cursor:pointer;
	border:2px solid white;
	text-align:center;
	margin:0 auto;
	border-radius:15px;
}

.center {
	text-align:center;
}
.img {
	border:2px solid black;
	border-radius:20px;
}
.spc {
	color:red;
	text-decoration:none;
}
.btn {
	color:black;
	text-decoration:none;
}
.Des {
	word-spacing:140px;
}